@{
    ViewBag.Title = "Answer phiếu khảo sát - TDMU";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Khảo sát</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a class="breadcrumb-item" href="#">Thống kê kết quả phiếu khảo sát</a>
                <span class="breadcrumb-item active">Kết quả khảo sát</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-secondary btn-tone m-r-5" style="margin-bottom: 15px;" onclick="window.location.href='/Admin/PhieuKhaoSat/KetQuaPKS?id=@ViewBag.IDPhieu'">Quay trở về</button>
            <div id="surveyContainer" class="table-responsive"></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var id = @ViewBag.id;
        $.ajax({
            url: '/Admin/PhieuKhaoSat/AnswerSurvey/' + id,
            type: 'GET',
            success: function (data) {
                renderSurveyData(data);
            },
            error: function () {
            }
        });
    });

    function renderSurveyData(data) {
        var tableHtml = '<table class="table table-bordered table-hover">\n';
        tableHtml += '<thead>\n';
        tableHtml += '<tr>\n';
        tableHtml += '<th scope="col">#</th>\n';
        tableHtml += '<th scope="col">Câu hỏi</th>\n';
        tableHtml += '<th scope="col">Câu trả lời</th>\n';
        tableHtml += '</tr>\n';
        tableHtml += '</thead>\n';
        tableHtml += '<tbody>\n';

        var index = 1;
        var pages = data[0].pages;
        pages.forEach(function (page) {
            var elements = page.elements;
            elements.forEach(function (element) {
                tableHtml += '<tr>\n';
                tableHtml += '<th scope="row" class="text-center">' + index + '</th>\n';
                tableHtml += '<td>' + element.title + '</td>\n';

                if (element.type === "text" || element.type === "comment") {
                    var textValue = element.response ? element.response.text : "Không có câu trả lời";
                    tableHtml += '<td><b>' + textValue + '</b></td>\n';
                } else if (element.type === "radiogroup") {
                    var radioValue = element.response ? element.response.text : "Không có câu trả lời";
                    tableHtml += '<td><b>' + radioValue + '</b></td>\n';
                } else if (element.type === "checkbox") {
                    var checkboxValues = element.response ? element.response.text : [];
                    var otherValue = element.response ? element.response.other : null;
                    var checkboxValueString = checkboxValues.join(', ');

                    if (otherValue) {
                        checkboxValueString += ' ' + otherValue;
                    }

                    tableHtml += '<td><b>' + checkboxValueString + '</b></td>\n';
                } else {
                    tableHtml += '<td>Không có câu trả lời</td>\n';
                }

                tableHtml += '</tr>\n';
                index++;
            });
        });

        tableHtml += '</tbody>\n';
        tableHtml += '</table>\n';

        $('#surveyContainer').html(tableHtml);
    }
</script>
