<footer class="footer">
    <div class="footer-content">
        <p class="m-b-0">TRUNG TÂM ĐẢM BẢO CHẤT LƯỢNG - TDMU © <span id="currentYear"></span></p>
    </div>
    <script>
    var currentYear = new Date().getFullYear();
    document.getElementById("currentYear").innerText = currentYear;
    </script>
</footer>
