<style>
    .side-nav-menu .nav-item .title {
        word-wrap: break-word;
        white-space: normal;
    }
</style>
<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <!-- Phiếu khảo sát menu -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-clipboard-list"></i>
                    </span>
                    <span class="title">Phiếu khảo sát</span>
                    <span class="arrow">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/admin/danh-sach-phieu-khao-sat">Danh sách phiếu khảo sát</a>
                    </li>
                    <li>
                        <a href="/admin/tieu-de-cau-hoi-phieu-khao-sat">Tạo mới bộ phiếu khảo sát</a>
                    </li>
                    <li>
                        <a href="/admin/danh-sach-nguoi-hoc-khao-sat-phieu">Quản lý người học khảo sát phiếu</a>
                    </li>
                    <li>
                        <a href="/admin/danh-sach-nguoi-hoc-co-hoc-phan-khao-sat-phieu">Quản lý người học có học phần khảo sát phiếu</a>
                    </li>
                    <li>
                        <a href="/admin/danh-sach-can-bo-vien-chuc-khao-sat-phieu">Quản lý cán bộ viên chức khảo sát phiếu</a>
                    </li>

                </ul>
            </li>
            <!-- Chức năng người dùng Menu -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-users-cog"></i>
                    </span>
                    <span class="title">Quản lý chức năng người dùng</span>
                    <span class="arrow">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/admin/danh-sach-khoa-vien-truong">Danh sách Khoa/Viện/Trường</a>
                    </li>
                    <li>
                        <a href="/admin/danh-sach-ctdt">Danh sách Chương trình đào tạo</a>
                    </li>
                    <li>
                        <a href="/admin/danh-sach-lop">Danh sách Lớp</a>
                    </li>
                    <li>
                        <a href="/admin/danh-sach-nguoi-hoc">Danh sách Người học</a>
                    </li>
                    <li>
                        <a href="/admin/danh-sach-can-bo-vien-chuc">Danh sách CBVC</a>
                    </li>
                    <li>
                        <a href="/Admin/DoiTuongKhaoSat/ViewDoiTuongKhaoSat">Danh sách Đối tượng khảo sát</a>
                    </li>
                    <li>
                        <a href="/admin/danh-sach-mon-hoc">Danh sách môn học</a>
                    </li>
                    <li>
                        <a href="/Admin/ImportData/Index">Import danh sách</a>
                    </li>
                    <li>
                        <a href="/Admin/DanhSachMonHocHocVien/Index">Danh sách môn học của học viên</a>
                    </li>
                    <li>
                        <a href="/Admin/test/Index">Test</a>
                    </li>
                </ul>
            </li>
            <!-- Quản lý thống kê -->
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-chart-area"></i>
                    </span>
                    <span class="title">Giám sát </span>
                    <span class="arrow">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/admin/giam-sat-ty-le-tham-gia-khao-sat">Giám sát tỷ lệ tham gia khảo sát</a>
                    </li>
                    <li>
                        <a href="/admin/thong-ke-ket-qua-khao-sat">Giám sát tỷ lệ kết quả khảo sát</a>
                    </li>
                    <li>
                        <a href="/admin/bao-cao-tong-hop-ket-qua-khao-sat">Báo cáo tổng hợp</a>
                    </li>
                </ul>
            </li>
            <!-- Phân quyền tài khoản -->
            <li class="nav-item dropdown">
                <a href="/Admin/InterfaceAdmin/UserInterface">
                    <span class="icon-holder">
                        <i class="fas fa-user-shield"></i>
                    </span>
                    <span class="title">Phân quyền tài khoản</span>
                </a>
            </li>
        </ul>
    </div>
</div>
