@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Areas/assets/css/tieude.min.css" rel="stylesheet" />
<div class="main-content">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Báo cáo tổng hợp</a>
                </li>
            </ul>
            <div class="tab-content m-t-15" id="myTabContent">

                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
                    <div class="page-header no-gutters">
                        <h2 class="text-uppercase">TIÊU ĐỀ CHI TIẾT CÂU HỎI</h2>
                        <hr />
                        <fieldset class="border rounded-3 p-3">
                            <legend class="float-none w-auto px-3">Chức năng</legend>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label" style="font-size: 16px; font-weight: bold; color: #333;">Chọn hệ đào tạo</label>
                                    <select class="form-control select2" id="hedaotao">
                                        @foreach (var item in ViewBag.HeDaoTao)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" style="font-size: 16px; font-weight: bold; color: #333;">Chọn năm học</label>
                                    <select class="form-control select2" id="year">
                                        @foreach (var item in ViewBag.Year)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" style="font-size: 16px; font-weight: bold; color: #333;">Chọn phiếu khảo sát</label>
                                    <select class="form-control select2" id="surveyid">
                                        <option value="">Chọn hệ đào tạo và năm để thống kê</option>
                                    </select>
                                </div>
                            </div>
                            <hr />
                        </fieldset>

                        <!-- Sticky Banner -->
                        <div id="smallBanner" class="small-banner">
                            <button type="button" id="btnAddTitle" class="btn btn-primary m-r-5">Tạo mới tiêu đề cha</button>
                            <button type="button" id="btnAddChilTitle" class="btn btn-warning m-r-5">Tạo mới tiêu đề con</button>
                            <button type="button" class="btn btn-info m-r-5">Xem trước phiếu đã tạo</button>
                            <button type="button" class="btn btn-success m-r-5">Xuất bản phiếu</button>
                        </div>
                    </div>

                    <div class="m-t-25" id="showalldata">
                        <div class="table-responsive" id="tieu-de-pks">
                            <div class="alert alert-info" style="text-align: center; font-weight: bold;">
                                Vui lòng chọn phiếu khảo sát để tiếp tục
                            </div>
                        </div>
                    </div>
                    <!--modal Thêm tiêu đề chính-->
                    <div class="modal fade" id="exampleModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabelTitleSurvey"></h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <i class="anticon anticon-close"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="edtThuTuHienThi">Nhập số thứ tự hiển thị</label>
                                            <input type="text" class="form-control" id="edtThuTuHienThiTitle" placeholder="Số thứ tự là kiểu la mã (I,II,III,...)">
                                        </div>
                                        <div class="form-group">
                                            <label for="edttieudeTitle">Nhập tiêu đề phiếu</label>
                                            <input type="text" class="form-control" id="edttieudeTitle" placeholder="Nhập tiêu đề tại đây">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer" id="showfootermodaltitlesurvey">
                                    <!--footer modal-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <!--modal Thêm chi tiết-->
                    <div class="modal fade" id="chitietModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <i class="anticon anticon-close"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label class="form-label">Chọn tiêu đề câu hỏi chính</label>
                                            <select class="form-control select2" id="hedaotao">
                                                <option value="item.Value">item.Text</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">Thứ tự hiển thị</label>
                                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">Tên chi tiết câu hỏi</label>
                                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Dạng câu hỏi</label>
                                            <select class="form-control select2" id="hedaotao">
                                                <option value="item.Value">item.Text</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">Các lựa chọn</label>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                                <label for="checkbox1">Là câu hỏi bắt buộc</label>
                                            </div>
                                            <div class="checkbox">
                                                <input id="checkbox2" type="checkbox">
                                                <label for="checkbox2">Có ý kiến khác</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Nhập các tùy chọn (mỗi tùy chọn là 1 dòng)</label>
                                            <textarea id="optionsTextarea" class="form-control" aria-label="With textarea" rows="10"></textarea>
                                            <button id="saveOptions" class="btn btn-primary mt-3">Lưu</button>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsAdmin{
    <script src="~/Areas/Admin/Scripts/ChucNangNguoiDung/TieuDeCauHoi.js"></script>
}
