﻿@{
    ViewBag.Title = "Báo cáo tổng hợp kết quả khảo sát - TDMU";
    Layout = "~/Areas/CTDT/Views/Shared/_CTDTLayout.cshtml";
}
<div class="main-content">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Báo cáo tổng hợp</a>
                </li>
            </ul>
            <div class="tab-content m-t-15" id="myTabContent">

                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
                    <div class="page-header no-gutters">
                        <h2 class="text-uppercase">Báo cáo tổng hợp kết quả khảo sát</h2>
                        <hr />
                        <fieldset class="border rounded-3 p-3">
                            <legend class="float-none w-auto px-3">Chức năng</legend>
                            <div class="col-md-4">
                                <!-- Điều chỉnh số lượng cột để thay đổi độ rộng -->
                                <label class="form-label" style="font-size: 16px;font-weight: bold;color: #333">Lọc năm học cần báo cáo</label>
                                <select class="form-control select2" id="Year">
                                    @foreach (var items in ViewBag.Year)
                                    {
                                        <option value="@items.Text">@items.Text</option>
                                    }
                                </select>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-success m-r-5" id="ExportExcel">Xuất Excel</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="m-t-25" id="showalldata">
                        <div class="table-responsive" id="bao_cao_tong_hop">
                            <table class="table table-bordered">
                                <thead style="color:black; text-align:center; font-weight:bold" id="showthead">
                                    <!--Load Thead-->
                                </thead>
                                <tbody id="showdata">
                                    <!--Load Data-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptsCTDT{
    <script src="~/Areas/CTDT/Scripts/BaoCaoTongHopKetQuaKhaoSat.js"></script>
}